:root{
    --bg: #111113;
    --primaryColor: #EDEEF0;
    --color3:#777B84;
    --color4:#F45B69;
    --color5:#8E8358;
    --primary: #3F51B5;
    --dark-primary: #303F9F;
    --light-primary: #C5CAE9;
    --text: #FFFFFF;
    --primary-text: #212121;
    --secondary-text: #757575;
    --accent: #FF4081;
   
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2.5vw;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: var(--bg);
    color: white;
    overflow-x: hidden; 
}

main hr{
    border: 0;
    background: var(--color3);
    height: 0.8px;
    margin: 60px 48px;
}


/*       navigationBar      */


.navbar{
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(225, 225, 225,0.07);
    z-index: 1000;
    border: solid 1px var(--color3);
    border-radius: 10px;
    

}

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 20px;

}

.navbar ul a{
    border-radius: 10px;
    padding: 5px 5px;
    text-decoration: none;



}



.navbar ul a p{
    padding: 5px 3px;
    color: white;
    font-size: 0.5rem;
    transition:ease 0.3s;
    border-radius: 10px;


}

.navbar ul a p:hover{
    background-color: var(--color3);
    padding: 3px;
    color: white;
    border-radius: 10px;
    font-size: 0.6rem;
}


/*      Header      */



header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* padding: 10px 20px; */
}

header h4{
    font-size: 0.8rem;
}

header button{

    display: flex;
}
header i{
  color: rgb(226, 225, 225);
}



/*                Buttons            */

button{
  padding: 2px 9px;
  background-color: var(--bg);    
  border-radius: 10px;
  border: solid var(--text) 3px;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

button a{
font-size: 1.5vw ;
padding: 5px;
text-decoration: none;
color: var(--color3);
}

button:hover{
  border-color: var(--primaryColor);
  background-color: var(--color3  );
  font-size: 25px;
}
button:hover a{
/* font-size: 1.6vw; */
box-shadow: 2px , white ;
  color: white;


}



/*     First Section             */




.firstSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    position: relative;
    
}

.leftSection{
    width: 60%;
    height: 100%;
    /* background-color: green; */
    
}

.leftSection button i{
  font-size: 0.5rem;
}

.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center;  */
    align-items: center;
    position: relative;
}

.leftSection .info-container{
    font-size: 2rem;
    justify-content: center;
    
}

.leftSection #element{
    color: var(--color3);
    font-size: 2.6rem;
}

.info-container p{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    position: absolute;
    font-size: 0.6rem;
    font-weight: 10000;
    rotate: -20deg;
    top: 25%;
    left: -4%;
}

.name{
    font-size: 1.5rem;
    transition-duration: 0.3s;
}

.name:hover{
    font-size: 2rem;
    transition-duration: 0.3s;
    color: var(--color3);
}

.iAm{
    font-size: 5rem;
}

.engineer{
    display: flex;
    align-items: center;
    height: 8vw;
}



.rightSection{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    /* background-color: red; */

}



.rightSection img{
    border-radius: 11%;
    /* padding: 10px; */
    /* background-color: var(--primaryColor); */
    width: 64%;
    transition-duration: 0.3s;
    border: solid var(--primaryColor) 1px;
    padding: 10px;
    /* box-shadow: 0 0 50px var(--color3); */
} 
.rightSection img:hover{
    /* box-shadow: 0 0 25px rgb(255, 255, 255); */
    width: 65%;
    transition-duration: 0.3s;

}






/*       About Me      */

    
.about-me {
    display: flex;
    justify-content: space-between; 
    padding-top: 90px;
    margin-bottom: 150px;
    width: 100%;
    height: 80vh;
    position: relative;
}

.about-me .text-content{
    width: 50%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me .text-content .social {
    margin-top: 20px;
    margin-left: 150px;
    display: flex;
    gap: 15px;
}

.about-me .text-content .social a{
    text-decoration: none;
    color: var(--primaryColor);
    padding: 6px;
}

.about-me .text-content .social a i{
  font-size: 0.7rem;
  padding: 10px;
    transition-duration: 0.3s;
    border-radius: 50%;
    border: solid 1px var(--color3);
}

.about-me .text-content .social i:hover{
    width: 50px;
    transition-duration: 0.3s;
}

.about-me .aboutMeContact{
    margin-top: 30px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    width: 280px;
    justify-content: center;
}
.ri-send-plane-fill{
    font-size: 1.7vw;
}

.about-me .helloName span{
    font-size: 1rem;
}

.about-me .text-content h3{
    /* font-family: ; */
    font-size: 2rem;
    color: var(--primaryColor);
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 150px;
    transition-duration: 0.3s;
}

.about-me .text-content h3:hover{
    transition-duration: 0.3s;
    font-size: 2.5rem;
}

.about-me .text-content p{
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Roboto", sans-serif;
    font-size: 0.5rem;
    font-weight: 400;
    color: var(--color3);
    margin-top: 30px;
    margin-left: 150px;
}

.about-me .image-content{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

.about-me .image-content img{
    /* background-color: white; */
    /* box-shadow: 0 0 25px rgb(20, 20, 129); */
    height: 85%;
    /* border-radius: 50px; */
    padding: 10px;
    transition-duration: 0.3s;
    border: solid var(--primaryColor) 1px;
    border-radius:  20px;
}

.about-me .image-content img:hover{
    /* background-color: white; */
    height: 90%;
}



/*      Skill section      */

/* 
.skill-header{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.skill-header h1{
    font-size: 3rem;
    position: relative;
}
.skill-header h1::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 10px;
    background-color: white;
    bottom: 0%;
    left: 0%;
    
}
.skill-header:hover h1::after{
    animation-name:text-Underline-animation;
    animation-duration: 1s;
}

 
.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  
  .timeline::before {
    content: '';
    background: var(--light-primary);
    width: 5px;
    height: 95%;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .timeline-item {
    width: 100%;
    margin-bottom: 70px;
  }
  
  .timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
  }
  
  .timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
  }
  
  .timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
  
  .timeline-item::after {
    content: '';
    display: block;
    clear: both;
  }
  
  .timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border: solid white 1px;
    border-radius: 4px;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
  }
  
  .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
  }

  .timeline-content img{
    width: 15%;
    border-radius: 50%;
    /* background-color: var(--color3); */
  /* }
  .timeline-img {
    width: 30px;
    height: 30px;
    background: var(--color3);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
  }
  
  .timeline-content p{
    font-size: 0.8rem;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    
  }

  .timeline-content a{
    background: var(--primary);
    color: var(--text);
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);
  }
  
  a:hover, a:active, a:focus {
    color: var(--text);
    text-decoration: none;
  }
  
  .timeline-card {
    padding: 0 !important;
  }
  
  .timeline-card p {
    padding: 0 20px;
    font-size: 0.7rem;
    color: var(--color3);
  }
  
  .timeline-card a {
    margin-left: 20px;
  }
  
  .timeline-item .timeline-img-header {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
    background-size: cover;
  }
  

  .js--fadeInRight h2{
    text-align: end;
  }

  .timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
  }
  
  .timeline-img-header h2 {
    color: var(--text);
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
  
  blockquote {
    margin-top: 30px;
    font-size: 0.7rem;
    color: var(--color3);
    color: var(--color3);
    
    padding: 0 20px;
  }
  
  .date {
    background: var(--color3);
    display: inline-block;
    color: var(--text);
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  @media screen and (max-width: 768px) {
  
    .timeline::before {
      left: 50px;
    }
  
    .timeline-img {
      left: 50px;
    }
  
    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }
  
    .timeline-item:nth-child(even) .timeline-content {
      float: none;
    }
  
    .timeline-item:nth-child(odd) .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #f5f5f5 transparent transparent;
    }
  }
  

   */ 
.Techinical-Skill{
  width: 100vw;
  min-height: 100vh;
  /* background-color: red; */
}
.Skill-Heading{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.Skill-Heading h1{
  font-family: sans-serif;
  font-size: 4rem;
  position: relative;
}
.Skill-Heading h1::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 10px;
  background-color: white;
  bottom: 0%;
  left: 0%;
  
}
.Skill-Heading:hover h1::after{
  animation-name:text-Underline-animation;
  animation-duration: 1s;
}
.list {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.list h2 {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.list ul {
  margin: 50px 0;
  gap: 50px;
  position: relative;
}
.list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #f50057;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  font-size: 30px;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li span a{
  text-decoration: none;
  color: #fce4ec;

}
.list ul li:hover span {
  color: #111;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}

/*     Page3 - Project Serction */




#page3 {
    /* background-color: rgb(37, 37, 88); */

    min-height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
    padding: 4vw 0;
}

.elem {
    height: 15vh;
    width: 100%;
    position: relative;

    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.project-subSection{
  border-bottom: 1px solid #38383864;
  
  width: 100vw;
  height: 20vh;
  /* margin:20px 100px; */
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.project-subSection h1{
  padding-left: 30px;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    color: aliceblue;
    z-index: 9;
}
.elem h2:hover {
    font-size: 4vw;
    
}

.elem h2 a{
    text-decoration: none;
    color: #777B84;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}



#fixed-image {
    /* padding: 10px; */
    height: 20vw;
    aspect-ratio: 4/3;
    /* background-color: red; */
    border-radius: 20px;
    position: fixed;
    z-index: 99;
    left: 70%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

.page3-heading{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.page3-heading h1{
  font-family: sans-serif;
  font-size: 4rem;
  position: relative;
}
.page3-heading h1::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 10px;
  background-color: white;
  bottom: 0%;
  left: 0%;
  
}
.page3-heading:hover h1::after{
  animation-name:text-Underline-animation;
  animation-duration: 1s;
}


section.contacts{
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  border-radius: 30px;
}

.contacts-container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.contacts-heading{
  color: white;
  height: 20vh;
  font-size: 8vw;
  text-align: center;
}
.contacts-left{
  width: 50%;
  height: 80%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}


.form-control, 
textarea {
  width: 40vw;
  height: 60px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-horizontal{
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.form-group{
  gap: 50vh;
} 
#message-box{
  height: 150px;
}

.submit-button{
  font-size: 100px;
  /* width: 100px;
  height: 50px; */
  /* background-color: white; */
  /* margin-left: 43%; */
}

.contacts-right{
  width: 30%;
  height: 80%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


}

.contact-list{
  list-style: none;
  color: wheat;
  display: flex;
  flex-direction: column;
  gap: 50px;
  

}


.contact-list a {
  font-size: 0.5rem;
  text-decoration: none;
  color: var(--color3);
  padding-left: 50px;

}
.contact-list i{
  font-size: 0.5rem;
  
}






  /* Social Media Icons */


section#contact .social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.direct-contact-container .social a{
    text-decoration: none;

}

.direct-contact-container .social a #social-logo{
    color: rgb(255, 255, 255);
}


  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }





@media (max-width:600px) {

    /* root change  */



    *{
        font-size: 20px;
        overflow-x: hidden;
    }


    /* line --hr */
    main hr{

      border: 0;
      background: var(--color3);
      height: 0.8px;
      margin: 0 30px;

  }
  

    /* header */



    header{
        height: 7vh;
        
    }
    button{
      border: 1px solid rgb(255, 255, 255);
    }
    button a{
      font-size: 15px;
      font-weight: 800;
      color: white;
    }

    /* .firstSection */



    .firstSection{
        height: 70vh;
        display: flex;
        flex-direction: column;
    }
    .leftSection{
      padding-top: -50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
   
    .leftSection p{
      left: 5%;
      font-weight: 400;
    }
    .home-container .info-container{
      width: 100%;
      height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .home-container .info-container button{
      margin-top: 5px;
    }

    .info-container{
        text-align: center;
        /* background-color: yellow; */
    }

    .leftSection #element{
        font-size: 2rem;
    }

    .name{
        color: var(--primaryColor);
        font-size: 2rem;
        transition-duration: 0.3s;
    }

    .name:hover{
        color: var(--primaryColor);
        font-size: 2rem;
        transition-duration: 0.3s;
    }

    .rightSection{
      /* background-color: red; */
      width: 100%;
      height: 300px;
      display: flex;
      align-items: flex-end;

    }
    .rightSection img{
      

    }
    /* navbar */

    .navbar{
      position: fixed;
      top: 100%;
      transform: translateX(-10%);
    }
    .navbar ul{
        gap: 5px;
    
    }

    .navbar ul a p{
        font-size: 0.6rem;
    
    }


    /*      About-Me       */

       
.about-me {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center; 
  align-items: center;
  width: 100%;
  position: relative;
  background-color: green;
}

.about-me .text-content{
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;
}

.about-me .text-content .social {
  margin-top: 20px;
  margin-left: 0;
  display: flex;
  gap: 15px;
}

.about-me .text-content .social a{
  text-decoration: none;
  color: var(--primaryColor);
  padding: 6px;
}

.about-me .text-content .social a i{
font-size: 0.7rem;
padding: 10px;
  transition-duration: 0.3s;
  border-radius: 50%;
  border: solid 1px var(--color3);
}

.about-me .text-content .social i:hover{
  width: 50px;
  transition-duration: 0.3s;
}

.about-me .aboutMeContact{
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: center;
}
.ri-send-plane-fill{
  font-size: 1.7vw;
}

.about-me .helloName span{
  font-size: 1rem;
}

.about-me .text-content h3{
  /* font-family: ; */
  font-size: 2rem;
  color: var(--primaryColor);
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 150px;
  transition-duration: 0.3s;
}

.about-me .text-content h3:hover{
  transition-duration: 0.3s;
  font-size: 2.5rem;
}

.about-me .text-content p{
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
  color: var(--color3);
  margin-top: 30px;
  margin-left: 150px;
}
.about-me .image-content{
  display: none;
}



    /* page3 */

    .page3-heading h1{
        font-size: 4rem;
    }
    .elem{
        height: 10vh;
    }

    #fixed-image{
        height: 40vw;
        width: 30vw;
    }
}

 /* Technical Skill */

  .timeline h1{
    font-size: 7vw;
  }


/* Animations */


@keyframes text-Underline-animation{
    0%{
        width: 0%;
        left: 0%;

    }
    50%{
        width: 100%;
        left: 0%;

    }
    100%{
        width: 0%;
        left: 100%;
    }
}


footer{
    height: 100px;
    border-top: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.copyright{
    font-size: 30px;
    color: #bbb;
}