button{
  font-size: 17px;
  padding: 0 9px;
  background-color: var(--bg);
  color: white;
  border-radius: 10px;
  border: solid var(--primaryColor) 0.01px;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

button a{
  text-decoration: none;
  color: white;
}

button:hover{
  border-color: var(--primaryColor);
  background-color: var(--bg);
  color: var(--secondary-text);
  font-size: 25px;
}

